.header {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: blueviolet;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.input {
  padding: 10px;
}

.btn {
}
